.game-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-card-image {
  max-width: 85%;
  height: auto;
}

.game-card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.game-card-price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.game-card-button {
  display: block;
  padding: 10px 20px;
  background-color: #ff5722;
  margin-top: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: auto;
}

.game-card-button:hover {
  background-color: #ff4500;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.game-card h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.game-card a {
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0;
}

.game-card-span {
  cursor: pointer;
  color: rgb(78, 16, 223);
  text-decoration: underline;
}
