.library-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("https://media.istockphoto.com/id/1140828326/vector/retro-neon-background-with-80s-styled-laser-grid-and-stars.jpg?s=612x612&w=0&k=20&c=wnw0f35ERwayC4TlDo_0sd25b1PHKS4G5ucFD5xTNFo=");
  background-repeat: no-repeat;
  background-size: cover;
}

.game-library {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.library-game {
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.library-game img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.game-info h3 {
  font-size: 18px;
  margin: 10px 0;
}
