.game-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  background-color: rgb(57, 62, 66);
}

.game-card-image {
  max-width: 100%;
  height: auto;
}

.game-card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.game-card-price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.game-card-button {
  display: block;
  padding: 10px 20px;
  background-color: #ff5722;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: auto;
}

.game-card-button:hover {
  background-color: #ff4500;
}
