.navbar {
  background-color: #001f3f;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-item {
  margin: 0;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin-right: 1rem;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-item a {
    margin: 0;
    padding: 0.5rem 0;
    text-align: center;
  }
}

/* Desktop Styles */
@media screen and (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}
