.order-container {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url("https://media.istockphoto.com/id/1140828326/vector/retro-neon-background-with-80s-styled-laser-grid-and-stars.jpg?s=612x612&w=0&k=20&c=wnw0f35ERwayC4TlDo_0sd25b1PHKS4G5ucFD5xTNFo=");
  background-repeat: no-repeat;
  background-size: cover;
}

.order-success {
  max-width: 50%;
  height: 200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #4471d3;
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 80px;
}

.order-success h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.order-success p {
  font-size: 1rem;
  margin: 5px 0;
}

.order-success a {
  margin-top: 50px;
}
